.header, .hero, .body, .bar, .footer{
	background-color: teal;
	margin-bottom: 10px;
}
.box{
	margin: 10px 0;
	height: 80px;
	background-color: red;
	color: white;
	font-size: 30px;
	text-align: center;
}
.red{
	background-color: lime;
}
.five{
	background-color: blue;
}